{% extends "::base.html.twig"  %}

{% block body %}
    <div class="container">
        <a href="{{ path('contactbook_contact_showallcontacts') }}">Main Page</a><br>
    <h1>Groups</h1><br>
        <a href="{{ path('contactbook_groups_shownewgroupform') }}">Add new group</a><br> <br>
        {% for group in groups %}
            <div class="groups">

                <p>Name: <a href="{{ path('contactbook_groups_showgroup', { 'id': group.id}) }}">{{ group.name }}</a></p>
                <br>
               <a class="btn btn-danger" href="{{ path('contactbook_groups_deletegactionroup', {'id': group.id}) }}">Delete group</a><br>
                <hr>

            </div>
        {% else %}
            <p>Groups not found!</p>
        {% endfor %}
    </div>
{% endblock %}