{% extends "::base.html.twig"  %}

{%  block body %}

    <div class="container">
        <h2>Addresses</h2>

        {% for address in addresses %}
            <div class="address">

                <p>City: {{ address.city }}</p>
                <p>Street: {{ address.street }}</p>
                <p>House no. {{ address.houseNumber }}</p>
                <p>Apartment no. {{ address.apartmentNumber }}</p>
                <p>Postal code: {{ address.postalCode }}</p>
                <a href="{{ path('contactbook_address_deleteaddress', {'id': address.id}) }}">Delete</a><br>
                <hr>

            </div>
        {% else %}
            <p>Addresses not found!</p>
        {% endfor %}
    </div>
{% endblock %}