{% extends "::base.html.twig"  %}
{% block title %}Edit Contact{% endblock %}


{%  block body %}
    <div class="container">
        {{ form_start(formPrimary) }}
        {{ form_widget(formPrimary) }}
        <button type="submit">Send</button>
        {{ form_end(formPrimary) }}

        <a href="{{ path('contactbook_address_shownewaddressform', {'id': id}) }}">Add address</a><br>
        <a href="{{ path('contactbook_telephone_shownewtelephoneform', {'id': id}) }}">Add telephone</a><br>
        <a href="{{ path('contactbook_contact_showallcontacts') }}">Main Page</a>

    </div>
{% endblock %}