{% extends "::base.html.twig"  %}
{% block title %}All contacts {% endblock %}


{%  block body %}

    <div class="container">
        <h1>My contacts</h1>
        <a href="{{ path('contactbook_contact_createnewcontact') }}">Add new contact</a>
        {% for contact in contacts %}
            <div class="contact">

                <h3><a href="{{ path('contactbook_contact_showcontact', {'id': contact.id }) }}">Name: {{ contact.name }}  {{ contact.surname }}</a></h3>
                <p>Description: {{ contact.description }}</p>
                <a href="{{ path('contactbook_contact_showeditform', {'id': contact.id}) }}">Edit</a>
                <a href="{{ path('contactbook_contact_deletecontact', {'id': contact.id}) }}">Delete</a>
                <hr>

            </div>
            {% else %}
            <p>Contacts not found!</p>
        {% endfor %}
    </div>
{% endblock %}