{% extends "::base.html.twig"  %}
{% block title %}Contact {{ contact.id }}{% endblock %}


{%  block body %}
    <div class="container">
        <a href="{{ path('contactbook_contact_showallcontacts') }}">Main Page</a><br>
        <h2>Contact info</h2>
    <p>Name: {{ contact.name }}</p>
    <p>Surname: {{ contact.surname }}</p>
    <p>Description: {{ contact.description }}</p>


     {{ include(':Address:show_all.html.twig', {'addresses': contact.address}) }}
     {{ include(':Telephone:show_all.html.twig', {'telephones': contact.telephone}) }}
     {{ include(':Email:show_all.html.twig', {'emails': contact.email}) }}
        <a href="{{ path('contactbook_contact_showeditform', {'id': contact.id}) }}">Edit contact</a><br>
        <a href="{{ path('contactbook_contact_deletecontact', {'id': contact.id}) }}">Delete contact</a><br>
    </div>
{% endblock %}